@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.room-status {
  margin-left: 300px; /* Adjust based on sidebar width */
  padding: 10px;
  background-color: #fff;
}

.content {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.header h2 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  margin-bottom: 5px;
}

.header .subtitle {
  font-size: 14px;
  color: #00c4b4;
}

.add-btn {
  background-color: #151A2D;
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.add-btn:hover {
  background-color: transparent;
  color: #151A2D;
  border: 2px solid #151A2D;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #b5b7c0;
  padding: 15px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e0e0e0;
}

td {
  font-size: 14px;
  font-weight: 500;
  color: #292d32;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

tbody tr {
  border-bottom: 1px solid #EEEEEE;
}

tbody tr:last-child {
  border-bottom: none;
}

.status-btn {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 500;
  border: none;
  cursor: default;
}

.status-available {
  background-color: #d4edda;
  color: #155724;
}

.status-occupied {
  background-color: #f8d7da;
  color: #721c24;
}

.room-image {
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  object-fit: cover; /* Ensures the image fits within the dimensions without distortion */
  border-radius: 5px;
}


/* Responsive Design */
@media screen and (max-width: 992px) {
  .room-status {
    margin-left: 200px;
    padding: 15px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

@media screen and (max-width: 768px) {
  .room-status {
    margin-left: 100px;
    padding: 10px;
  }

  th, td {
    font-size: 13px;
    padding: 10px;
  }

  .room-image {
  	width: 80px; /* Adjust for smaller screens */
  	height: 80px;
  }
  
}

@media screen and (max-width: 576px) {
  .room-status {
    margin-left: 0;
    padding: 10px;
  }

  .header .add-button {
    width: 100%;
  }

  .add-btn {
    width: 100%;
    text-align: center;
  }

  table {
    display: block;
    overflow-x: auto;
  }

  th, td {
    font-size: 12px;
    padding: 8px;
    white-space: nowrap;
  }

}