body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.booking-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.booking-table th, .booking-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.booking-table th {
    background-color: #666;
    color: #fff;
}

.booking-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.booking-table tr:hover {
    background-color: #f1f1f1;
}

.back-link{
	padding: 10px 50px;
	float: right;
	margin: 10px 0;
	background-color: #000;
	color: #fff;
	border: 2px solid transparent;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
	transition: all 0.3s ease;
	text-decoration: none;
}

.back-link:hover {
   background-color: transparent;
	color: #000;
	border: 2px solid #000;
}


.cancel-btn{
	padding: 7px 10px;
	background-color: #fff;
	color: #000;
	border: 2px solid #000;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
	transition: all 0.3s ease;
	text-decoration: none;
}

.cancel-btn:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
}


p {
    text-align: center;
    color: #666;
}